.body{
    background-image: url(/assets/img/fondo-basquet.jpg);
    background-position: absolute;
    background-size: cover;
    
}
* {
    text-decoration: none;
    list-style: none;
}

.image {
    
    max-width: auto;
    max-height: 200px;
    margin: auto auto 10px auto;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5)
    
}

.container {
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: auto auto auto;
}

.container>ul {
    
    display: grid;
    padding: 0px;
    grid-template-columns: auto auto auto;
}

.grid{
    
    background-color: rgb(240, 248, 255);
    margin:10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.grid h3{
    font-size: 18px;
}
.busq-title{
   text-align: start;
   padding: 5px 10px 0px 10px;  
}
.busq-sub-title{
    padding: 0px 0px 5px 0px;
    margin: 0px;
}
.busq-contenido {
    margin-left: 50px;
    border: hsla(0, 8%, 81%, 0.514) 2px solid;
    width: 40%;
    margin-top: 3px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 200px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #c0bdbd;
}

.busq-input {
    border: 1px black solid;
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    margin-right: 5px;
    border-radius: 8px;
    background-color: #f5f5f5c3;
}

.busq-input:focus {
    border-color: 2px solid #70b231;
}
