<div class="voley">
    <ul>
        <li class="grid" *ngFor="let datos of arregloTarjetaVoley">
            <br>
            <div class="title">{{datos.titulo}}</div>
            <div class="sub-title">{{datos.subtitulo}}</div><br>
            <a [href]="datos.url" target="_blank"> <img class="image" [src]="datos.image"> </a>
        </li>
    </ul>
</div>
<div>
    <input class="bus-input" type="text" placeholder="Escribir algo aquí" [(ngModel)]="datoBuscado">
    <button (click)="buscarvideo()">Buscar</button>
    
    <div class="Retorno">
        <li class="grid" *ngFor="let video of videoEncontrado">
        <br>
        <div class="title">{{video.titulo}}</div>
        <!-- <div class="sub-title">{{video.subtitulo}}</div><br>
        <a [href]="video.url" target="_blank"> <img class="image" [src]="video.image"> </a> -->
        </li>
    </div>
</div>