
<div class="logotipo">
  <a class="logo" [routerLink]="['home']"><img src="../assets/Definitivo.png" alt="Logo de la pagina"></a>    
  
  <img class="deporte" src="../assets/futbol-header.jpeg" alt="Futbol"> 
  <img class="deporte" src="../assets/voley-header.jpg" alt="Voley">
  <img class="deporte" src="../assets/basquet-header.jpg" alt="Basquet"> 
   
</div>

<div class="header">
  <nav class="navegacion">
      <ul class="menu">
        <li><a [routerLink]="['/home']">Inicio</a></li>
        
        <li><a href="">Deportes</a></li>
    
        <li><a [routerLink]="['/Futbol']">Futbol</a></li>
        <li><a [routerLink]="['/Voley']">Voley</a></li>
        <li><a [routerLink]="['/Basquet']">Basquet</a></li>
          
        
        <li><a href="">Sobre nosotros</a></li>
  
        <input placeholder="Buscá aca flaco" type="text" />
      </ul>
    </nav>
</div>
  
