
<div class="logotipo">
      
  <img src="../assets/Definitivo.png" alt="LogoDePagina">
</div>

<div class="header">
  <nav class="navegacion">
      <ul class="menu">
        <li><a [routerLink]="['/home']">Inicio</a></li>
        
        <li><a href="">Deportes</a></li>
    
        <li><a [routerLink]="['/Futbol']">Futbol</a></li>
        <li><a [routerLink]="['/Voley']">Voley</a></li>
        <li><a [routerLink]="['/Basquet']">Basquet</a></li>
          
        
        <li><a href="">Sobre nosotros</a></li>
  
        <input placeholder="Buscá aca flaco" type="text" />
      </ul>
    </nav>
</div>
  
