*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.logotipo{
    display: flex;
    box-shadow:rgb(0, 0, 0) 10px 10px 20px 1px inset;
    justify-content: space-around;

}
.logo{
    padding-right: 30px;
    background-color: #fd6e21d5;
    /* background-color: #bc6f0ada; */
}
.logotipo img{
    height: 130px;
}
.deporte{
    width: 250px;
    

}

.navegacion ul{
    display: flex;
    justify-content: space-around;
    
}
.navegacion ul li a{
    text-decoration: none;
    color: black;
    padding: 20px;
   
}
.navegacion ul li{
     list-style: none;
     display: inline-flex;
    line-height: 20px;
    float: left;
    transition: all 500ms;
    
}
.header {
    align-items: center;
    /* background-color: #fd6e21; */
    background-color: #bc6f0ada;
    padding: 0px 0px;
}

.navegacion>ul>li:hover{
    background-color: #dc4d00;
    
}
input{
    position:relative ;
    top: 15px;
    right: 15px;
    max-height: 25px;
}
