<body class="body">
  <div class="background-container">
    <div class="background-image">
      <div class="busq-contenido">
        <input
          class="busq-input"
          type="text"
          name="datoBuscado"
          placeholder="Buscar"
          [(ngModel)]="datoBuscado"
        />
      </div>

      <div class="container">
        <ul>
          <li
            class="grid"
            *ngFor="let video of video | filtro : datoBuscado">
            <h3 class="busq-title">{{ video.titulo }}</h3>
            <a [routerLink]="['/Reproductor', video.id]">
              <img [src]="video.image" alt="link">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
