<div class="busq-contenido">
    <input class="busq-input" type="text" name="datoBuscado" placeholder="Escribir algo aquí" [(ngModel)]="datoBuscado">
</div>
<div>
        <ul class="busq">
            <li class="grid" *ngFor="let video of arregloDeportes | filtro: datoBuscado">
                <br>
            <h3 class="busq-title">{{video.titulo}}</h3>  
            <div class="busq-sub-title">{{video.subtitulo}}</div><br>
            <a [href]="video.url" target="_blank"> 
                <img class="image" [src]="video.image"> 
            </a>
        </li>
        </ul>
</div>