
<div>
    <h3>Subir video</h3>
     <form action="" enctype="multipart/form-data">
        <div>
            <label for="titulo">Titulo</label>
            <input [(ngModel)]="video.titulo" id="titulo" type="text" name="titulo" required>
        </div>
        <div>
            <label for="subtitulo">Subtitulo</label>
            <input [(ngModel)]="video.subtitulo" id="subtitulo" type="text" name="subtitulo" required>
        </div> 
        <div>
            <label for="video">Video:</label>
            <input  type="file"  accept="video/*" id="video" name="video" required (change)="capturarArchivo($event)">
        </div>
        <div>
            <label for="image">Imagen:</label>
            <input  type="file" accept="image/*" id="image" name="image" (change)="capturarArchivo($event)">
        </div>
        <div>
            <label for="categoria">Categoria</label>
            <select [(ngModel)]="video.categoria" id="categoria" type="text" name="categoria" required>
                <option value="Futbol">Futbol</option>
                <option value="Voley">Voley</option>
                <option value="Basquet">Basquet</option>
            </select>
            
        </div>
         <button (click)="subir(video)">Subir</button>
    </form>
     
</div>