<body class="body">
    <div class="background-container">
      <div class="background-image">
        <div class="contenedor">
  
<div>
    <ul class="form-group">
        <button class="button">
            <li><a [routerLink]="['/crearCuenta']">Crear cuenta</a></li>
        </button>
    </ul>
    <ul>
        <button>
            <li>
                <a [routerLink]="['/Login']">Iniciar sesión</a>
            </li>
        </button>
    </ul>
    </div>
    </div>
    </div>
</div> 
</body>