/* You can add global styles to this file, and also import other style files */
body{
    padding: 0px;
    margin: 0px;
    /* background-color: #bc6f0ada; */
    /* background-color: rgba(0, 0, 0, 0.871); */
    /* background-color: #9a7341c9; */

}
.remove-bg {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}